body {
  font-family:'Orbitron', sans-serif;
  background-color:gray;
	background-image:url('');
	color: black;
       font-size: 21px;
  
  
  
}

header {
 color: black;
 background-color:none;
background-color:silver;
 background-image:url('');
  display:flex-center;
   padding: 60px 0;
   
   font-size:21px;
}

header .row,
footer .row {
  color:grey;
  background-color:silver;
background-image:url(');
 

  
 display: center;
  align-items: center;
  color:white;
  background-color:black;
  
}

h1 {
  color:white;
  background-image:none;
  height: flex-bottom;
  font-weight: 16px;
  margin: 19px;
  display:center;
  
  

nav {
 background-color:black;
 color: white;
  display:flex-block;
  justify-content: flex-end;
	display: center;

  

  
  

a {
color: black;
  padding: 21px ;
  margin:  21px;
}
  
  a {
	color: black; text-decoration: none;
}
	a:hover {
		color:black;
	}
